.super-mario {
    width: 8%;
    position: absolute;
  }
  
  .goomba {
    width: 6%;
    position: absolute;
    top: 193px;
    left: 75px;
    border-radius: 100%;
  }
  
  .baloon {
    width: 12%;
    position: absolute;
    left: 140px;
    z-index: 1;  
  }
  
  .speech {
    font-size: 13px;
    position: absolute;
    left: 150px;
    top: 95px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    top:135px;
    left: 250px;
  }