body{
    font-size: 16px;
}
h1{
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}
.lista{
    background-color: rgb(10, 101, 167);
    line-height: 50px;
    text-align: center;  
}
p{
    font-weight: 600;
    font-size: 3em;
    font-style: oblique;
    text-decoration: overline;
}
#amarelo{
    background-color: yellow;
}
#vermelho{
    background-color: red;
}
#marrom{
    background-color: brown;
}