/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 130%;
  text-align: justify;
}

article {}

h1 {
  font-size: 32px;
  text-align: center;
}

h2 {}

img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

main {}

section {}

figure {
  margin: 15px auto;
  max-width: 90%;
  /* border: 2px solid red; */
}

figcaption {
  font-size: .8em;
}

#img-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

@media screen and (min-width:799px) and (max-width:1300px) {
  body {
    background-color: rgb(84, 84, 245);
    font-size: 120%;
    margin: 5% 15%;
  }

  h1 {
    font-size: 200%;
  }

  #img-container {
    max-width: 70%;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1320px;
  }

  figure {
    max-width: 48%;
  }

  figcaption {
    margin-top: -8px;
  }
}

@media screen and (min-width:1299px) {
  body {
    background-color: rgb(236, 87, 41);
    font-size: 160%;
    margin: 5% 15%;
  }

  h1 {
    font-size: 220%;
  }

  #img-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    /* border: 2px solid black; */
    max-width: 1320px;
  }

  article{
    max-width: 85%;
    margin: auto;
  }

  h2 {
    /* margin: auto; */
    /* text-align: center; */
  }

  figure {
    /* border: 2px solid black; */
  }

  figcaption {
    margin-top: -12px;
  }
}