div:hover{
    border: 2px solid green;
    margin-right: 86%;
}
div:nth-child(4){
    background-color: red;
    margin-right: 86%;
    font-style: italic;
}
div:nth-child(5){
    background-color: rgb(255, 136, 0);
    margin-right: 86%;
}
div:nth-child(6){
    background-color: rgb(21, 199, 30);
    margin-right: 75%;
    font-size: 2em;
    font-style: italic;
}
div:nth-child(7){
    background-color: rgb(8, 3, 36);
    margin-right: 86%;
    color: wheat;
}
div:nth-child(8){
    background-color: wheat;
    margin-right: 86%;
    font-style: italic;
}
h3{
    font-weight: 200;
}
